* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
}

.whiteFavouriteEffect {
  position: absolute;
  transform: scale(0);
  top: 50%;
  left: 50%;
  color: white;
  animation: growAndShrinkWhite 1s;
}

.favouriteButtonEffect {
  color: red;
  animation: growAndShrink 0.4s;
}

@keyframes growAndShrink {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.35);
  }
  65% {
    transform: scale(1);
  }
  /* 75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  } */
}

@keyframes growAndShrinkWhite {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(4);
  }
  75% {
    transform: scale(4);
  }
  100% {
    transform: scale(0);
  }
}
